


.productsForfaits
{
	display: flex;
  	flex-wrap: wrap;
	align-items: center;
	padding:0;

 		
}


.productsForfaits li
{
	max-width: 400px;
	display: block;
  margin:10px auto 10px auto;
	list-style: none;
  	flex: 0 0 50%;
	text-align:center;
	
	padding:20px;
	
	
	
	
}
.productsForfaits li img
{
	width:100%;
	height:auto;
	min-width:200px;
	max-width:300px;
	padding:5px;
}


.productsForfaits .button
{
	background-color: #00A0DF;
color: #fff;
padding: .618em 1em;
border-radius:3px;
display:block !important;
margin:auto;
width:200px;
cursor: pointer;

}
