

.productsMorille,.productsMorille2columns
{
	display: grid;
  	flex-wrap: wrap;
	align-items: center;
	padding:0;
	
	
}
.productsMorille2columns li
{
	display: block;
  margin:10px auto 10px auto;
	list-style: none;
  	flex: 0 0 50%;
	text-align:center;
	
	padding:20px;
	
	
	
}



.productsMorille h2 ,.productsMorille2columns h2
{
	font-size:18px;
	margin-top:10px;
	
	text-align:center;
}

.productsMorille2columns li img
{
	width:100%;
	height:auto;
	min-width:50px;
	max-width:200px;
	
	
	
}
.productsMorille li img
{
	width:100%;
	height:auto;
	min-width:50px;
	max-width:200px;
	

}

.productsMorille .button,.productsMorille2columns .button
{
	
	background-color: #00A0DF;
	color: #fff;
	padding: .618em 1em;
	border-radius:3px;
	display:block !important;
	margin:auto;
	width:200px;
}
