
.productsMorille,.productsMorille2columns
{
	display: flex;
  	flex-wrap: wrap;
	align-items: center;
	padding:0;
	
	
}
.productsMorille2columns li
{
	display: block;
  margin:10px auto 10px auto;
	list-style: none;
  	flex: 0 0 50%;
	text-align:center;
	
	
}

.productsMorille li
{
	width:300px; 
  text-align:center;
  margin:20px auto 20px auto;
}

.productsMorille h2 ,.productsMorille2columns h2
{
	font-size:18px;
	margin-top:10px;
	padding:0 50px 0 50px;
	text-align:center;
}

.productsMorille2columns li img
{
	width:100%;
	height:auto;
	min-width:200px;
	max-width:300px;
	padding:5px;
	
}
.productsMorille li img
{
	width:100%;
	height:auto;
	min-width:50px;
	max-width:200px;
	padding:5px;

}

.productsMorille .button,.productsMorille2columns .button
{
	
	background-color: #a46497;
	color: #fff;
	padding: .618em 1em;
	border-radius:3px;
	display:block !important;
	margin:auto;
	width:200px;
}
